@import ../../../styles

.navbar
    background-color: $secondary-color
    display: grid
    grid-auto-columns: auto auto 1fr
    align-items: center
    height: 5vh
    grid-template-areas: "logo about button-lang"

    .navbar__project-name
        margin-left: $primary-margin
        @include hrefs($primary-color)
        grid-area: logo

    .navbar__about
        margin-left: $primary-margin
        @include hrefs($primary-color)
        grid-area: about

    .button-language
        justify-self: right
        margin-right: $primary-margin
        grid-area: button-lang

.button-language
    border-radius: 3px
    background-color: $secondary-color
    border-color: $third-color
    border-style: solid
    color: $third-color
