@import ../../../styles
.navbar
    background-color: black
    color: $primary-color
    display: flex
    align-items: center
    height: 5vh

    .navbar_project-name
        margin-left: $margin-page

    .navbar__list
        display: flex
        list-style-type: none

        .navbar__list_el
            margin-left: $margin-page
            text-decoration: none
            color: $primary-color
