<div class="album" *ngIf="album">
  <div *ngIf="album.images.length > 0">
    <img class="album__avatar" src="{{ album.images[0].url }}" />
  </div>
  <h4 *ngIf="album.artists.length > 0">
    <span *ngFor="let artist of album.artists">
      {{ artist.name }}
    </span>
  </h4>
  <h2>{{ album.name }}</h2>
  <h5>Release Date: {{ album.release_date }}</h5>
  <button class="album__button">
    <a
      class="album__ref"
      target="_blank"
      href="{{ album.external_urls.spotify }}"
      >View In Spotify</a
    >
  </button>

  <div class="album__tracks">
    <h2>Album Tracks</h2>
    <div *ngFor="let track of album.tracks.items">
      <div class="album__track">
        <h5>{{ track.track_number }} - {{ track.name }}</h5>
        <div>
          <audio id="soundobj" controls="controls">
            <source src="{{ track.preview_url }}" />
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
