<div class="artist page__artist">
  <img
    class="artist__avatar"
    alt="artist avatar"
    src="https://i.scdn.co/image/ab6761610000e5eb5b7c16051e2ae6e7af405c45"
  />
  <h1>ATL</h1>
  <p>Genres: <span>Rock, Hiphop, Rap</span></p>
  <h1>Albums</h1>

  <div class="artist__albums">
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
    <div class="album">
      <img
        class="album__img"
        alt="album avatar"
        src="https://i.scdn.co/image/ab67616d0000b27389f55f0d0f809e765d9da563"
      />
      <div class="album__name">Марабу</div>
    </div>
  </div>
</div>
