<div class="search page__search">
  <div class="search__text">
    <h1>Need Music?</h1>
    <p>Используй SpotifyFinder для поиска музыки.</p>
  </div>
  <input
    class="search__input"
    type="text"
    name="searchStr"
    placeholder="Search Artist..."
  />

<!--  это отдельный компонент типа app-search-results или app-artist, он не является частью компонента поиска-->
  <div class="list-artists search__list-artists">
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
    <div class="list-artists__artist artist">
      <img
        class="artist__avatar"
        src="https://i.scdn.co/image/ab6761610000f1785b7c16051e2ae6e7af405c45"
        alt="Аватар"
      />
      <div class="artist__info">
        <div>ATL</div>
        <div>
          Genres:
          <span>Rock, Hiphop, Rap</span>
        </div>
      </div>
    </div>
  </div>
</div>
