/* You can add global styles to this file, and also import other style files */
@import normalize.css

$primary-color: blanchedalmond
$background-color: #302727
$secondary-color: black
$margin-page: 20px
$margin-gap: 16px
$border-radius: 10px
